body,h1,h2,h3,h4,h5,h6,ul,ol,li,p,form,dt,dd,input,textarea,th,td,fieldset,legend,dl,dt,dd,figure{margin:0;padding:0;}
fieldset,img{border:0 none}
ul,ol,li{list-style:none}
table{border-spacing:0}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit}
*:focus{outline:none}
q:before,q:after{content:""}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}
body,input,select,button,textarea{font:16px/1.5 Arial,Helvetica,sans-serif;}
*,*:after,*:before{-webkit-user-select:none;-webkit-touch-callout:none;-ms-user-select: none;-webkit-tap-highlight-color:rgba(255,255,255,0);}
html,body{background:#fff;color:#000;-webkit-user-select:none;-webkit-moz-select:none;-webkit-o-select:none;-webkit-ms-select:none;user-select:none;}
table{border-collapse:collapse;border-spacing:0;}
input,textarea{ border:1px solid #b8b7b3;-webkit-user-select:auto;}
em{font-style:normal;font-weight:normal}
sub, sup {font-size:75%;line-height:0;position:relative;vertical-align: baseline}
sup {top: -0.5em}
sub {bottom: -0.25em}
img{vertical-align:top;max-width:100%;}
a{text-decoration:none;color:#000;}
html,body{font-family:Arial,"黑体";}
body{background:transparent;}
canvas{display:block;padding:0;margin:0;}
pre{word-wrap:break-word;margin:0;}

.fl{float:left;display:inline;}
.fr{float:right;display:inline;}
.tl{text-align:left;}
.tc{text-align:center;}
.tr{text-align:right;}
.clear:after,.tab-title:after{content:"";display:block;clear:both;height:0;line-height:0;overflow:hidden;font-size:0;}
.clear.tab-title{zoom:1;}
.fixbottom,.fixtop{position:fixed;left:0;bottom:0;width:100%;height:82px;background:rgba(0,0,0,.6);z-index:2}
.fixbottom .containWrap,.fixtop .containWrap{position:absolute;left:0;top:0;width:100%;height:100%;bottom:0;}
.fixtop{top:0;bottom:auto;}
.m15{margin-top:15px;}
.m25{margin-top:25px;}
.space_5{padding:5px 0 0 0;}
.space_10{padding:10px 0 0 0;}
.space_15{padding:15px 0 0 0;}
.space_20{padding:20px 0 0 0;}
.space_30{padding:30px 0 0 0;}
.space_50{padding:50px 0 0 0;}
.tc{text-align:center;}
.tr{text-align:right;}
.f12{font-size:12px;}
.f14{font-size:14px;}
.f16{font-size:16px;}
.f18{font-size:18px;}
.f20{font-size:20px;}
.f22{font-size:22px;}
.indent{text-indent:2em;}



header{
    position:fixed;top:20px;left:5%;z-index:3;
    width:90%;
    font-size:16px;line-height:26px;
    color:#fff;
    text-shadow:0 0 10px rgba(255,255,255,1),0 0 10px rgba(255,255,255,1);
}

.main{
    position:relative;
    width:100%;
}
.main .msg{
    position:absolute;bottom:20px;left:50%;z-index:2;
    height:40%;width:60px;overflow:hidden;
    margin-left:-30px;
    text-align:center;
}
.main .msg ul{
    width:1000%;
}
.main .msg ul li{
    float:left;
    width:10%;
}
.main .msg p{
    display:inline-block;
    width:20px;height:100%;overflow:hidden;
    line-height:20px;font-size:14px;word-wrap:break-word;
    color:#fff;
}
.main .light{
    position:absolute;top:43%;left:50%;z-index:0;
    display:block;
    width:1px;height:1px;
    border-radius:1000px;
    background:#fff;
    
    animation:flash 3s linear infinite;
    -webkit-animation:flash 3s linear infinite;
    -moz-animation:flash 3s linear infinite;
    -o-animation:flash 3s linear infinite;
    -ms-animation:flash 3s linear infinite;
}
@keyframes flash{
    0%   {
        box-shadow:0 0 50px 50px rgba(255,230,200,0);
    }
    50%  {
        box-shadow:0 0 50px 50px rgba(255,230,200,.5);
    }
    100% {
        box-shadow:0 0 50px 50px rgba(255,230,200,0);
    }
}
@-webkit-keyframes flash{
    0%   {
        box-shadow:0 0 50px 50px rgba(255,230,200,0);
    }
    50%  {
        box-shadow:0 0 50px 50px rgba(255,230,200,.5);
    }
    100% {
        box-shadow:0 0 50px 50px rgba(255,230,200,0);
    }
}
@-moz-keyframes flash{
    0%   {
        box-shadow:0 0 50px 50px rgba(255,230,200,0);
    }
    50%  {
        box-shadow:0 0 50px 50px rgba(255,230,200,.5);
    }
    100% {
        box-shadow:0 0 50px 50px rgba(255,230,200,0);
    }
}
@-ms-keyframes flash{
    0%   {
        box-shadow:0 0 50px 50px rgba(255,230,200,0);
    }
    50%  {
        box-shadow:0 0 50px 50px rgba(255,230,200,.5);
    }
    100% {
        box-shadow:0 0 50px 50px rgba(255,230,200,0);
    }
}
@-o-keyframes flash{
    0%   {
        box-shadow:0 0 50px 50px rgba(255,230,200,0);
    }
    50%  {
        box-shadow:0 0 50px 50px rgba(255,230,200,.5);
    }
    100% {
        box-shadow:0 0 50px 50px rgba(255,230,200,0);
    }
}
.main .stick{
    display:block;
    margin:0 auto -5px;
    transform:rotateY(0deg);-moz-transform:rotateY(0deg);-webkit-transform:rotateY(0deg);-ms-transform:rotateY(0deg);-o-transform:rotateY(0deg);
    transition:all 1s linear;-moz-transition:all 1s linear;-webkit-transition:all 1s linear;-ms-transition:all 2s linear;-o-transition:all 1s linear;
}
.main .latern{
    display:block;
    margin:0 auto;
}

@media screen and (max-width:320px){
    .main .msg p{
        line-height:20px;font-size:14px;
    }
}
@media screen and (min-width:321px) and (max-width:360px){
    .main .msg p{
        line-height:22px;font-size:14px;
    }
}
@media screen and (min-width:361px) and (max-width:410px){
    header{
        font-size:17px;line-height:30px;
    }
    .main .stick{
        margin-bottom:-6px;
    }
    .main .msg p{
        line-height:22px;font-size:16px;
    }
}
@media screen and (min-width:411px) and (max-width:500px){
    header{
        font-size:18px;line-height:32px;
    }
    .main .stick{
        margin-bottom:-7px;
    }
    .main .msg p{
        line-height:24px;font-size:16px;
    }
    @keyframes flash{
        0%   {
            box-shadow:0 0 65px 65px rgba(255,230,200,0);
        }
        50%  {
            box-shadow:0 0 65px 65px rgba(255,230,200,.5);
        }
        100% {
            box-shadow:0 0 65px 65px rgba(255,230,200,0);
        }
    }
    @-webkit-keyframes flash{
        0%   {
            box-shadow:0 0 65px 65px rgba(255,230,200,0);
        }
        50%  {
            box-shadow:0 0 65px 65px rgba(255,230,200,.5);
        }
        100% {
            box-shadow:0 0 65px 65px rgba(255,230,200,0);
        }
    }
    @-moz-keyframes flash{
        0%   {
            box-shadow:0 0 65px 65px rgba(255,230,200,0);
        }
        50%  {
            box-shadow:0 0 65px 65px rgba(255,230,200,.5);
        }
        100% {
            box-shadow:0 0 65px 65px rgba(255,230,200,0);
        }
    }
    @-ms-keyframes flash{
        0%   {
            box-shadow:0 0 65px 65px rgba(255,230,200,0);
        }
        50%  {
            box-shadow:0 0 65px 65px rgba(255,230,200,.5);
        }
        100% {
            box-shadow:0 0 65px 65px rgba(255,230,200,0);
        }
    }
    @-o-keyframes flash{
        0%   {
            box-shadow:0 0 65px 65px rgba(255,230,200,0);
        }
        50%  {
            box-shadow:0 0 65px 65px rgba(255,230,200,.5);
        }
        100% {
            box-shadow:0 0 65px 65px rgba(255,230,200,0);
        }
    }
}
@media screen and (min-width:501px) and (max-width:600px){
    header{
        font-size:19px;line-height:34px;
    }
    .main .stick{
        margin-bottom:-9px;
    }
    .main .msg{
        width:80px;
        margin-left:-40px;
    }
    .main .msg p{
        width:30px;
        line-height:26px;font-size:18px;
    }
    @keyframes flash{
        0%   {
            box-shadow:0 0 80px 80px rgba(255,230,200,0);
        }
        50%  {
            box-shadow:0 0 80px 80px rgba(255,230,200,.5);
        }
        100% {
            box-shadow:0 0 80px 80px rgba(255,230,200,0);
        }
    }
    @-webkit-keyframes flash{
        0%   {
            box-shadow:0 0 80px 80px rgba(255,230,200,0);
        }
        50%  {
            box-shadow:0 0 80px 80px rgba(255,230,200,.5);
        }
        100% {
            box-shadow:0 0 80px 80px rgba(255,230,200,0);
        }
    }
    @-moz-keyframes flash{
        0%   {
            box-shadow:0 0 80px 80px rgba(255,230,200,0);
        }
        50%  {
            box-shadow:0 0 80px 80px rgba(255,230,200,.5);
        }
        100% {
            box-shadow:0 0 80px 80px rgba(255,230,200,0);
        }
    }
    @-ms-keyframes flash{
        0%   {
            box-shadow:0 0 80px 80px rgba(255,230,200,0);
        }
        50%  {
            box-shadow:0 0 80px 80px rgba(255,230,200,.5);
        }
        100% {
            box-shadow:0 0 80px 80px rgba(255,230,200,0);
        }
    }
    @-o-keyframes flash{
        0%   {
            box-shadow:0 0 80px 80px rgba(255,230,200,0);
        }
        50%  {
            box-shadow:0 0 80px 80px rgba(255,230,200,.5);
        }
        100% {
            box-shadow:0 0 80px 80px rgba(255,230,200,0);
        }
    }
}
@media screen and (min-width:601px){
    header{
        font-size:20px;line-height:40px;
    }
    .main .stick{
        margin-bottom:-11px;
    }
    .main .msg{
        width:80px;
        margin-left:-40px;
    }
    .main .msg p{
        width:30px;
        line-height:28px;font-size:20px;
    }
    @keyframes flash{
        0%   {
            box-shadow:0 0 80px 80px rgba(255,230,200,0);
        }
        50%  {
            box-shadow:0 0 80px 80px rgba(255,230,200,.5);
        }
        100% {
            box-shadow:0 0 80px 80px rgba(255,230,200,0);
        }
    }
    @-webkit-keyframes flash{
        0%   {
            box-shadow:0 0 80px 80px rgba(255,230,200,0);
        }
        50%  {
            box-shadow:0 0 80px 80px rgba(255,230,200,.5);
        }
        100% {
            box-shadow:0 0 80px 80px rgba(255,230,200,0);
        }
    }
    @-moz-keyframes flash{
        0%   {
            box-shadow:0 0 80px 80px rgba(255,230,200,0);
        }
        50%  {
            box-shadow:0 0 80px 80px rgba(255,230,200,.5);
        }
        100% {
            box-shadow:0 0 80px 80px rgba(255,230,200,0);
        }
    }
    @-ms-keyframes flash{
        0%   {
            box-shadow:0 0 80px 80px rgba(255,230,200,0);
        }
        50%  {
            box-shadow:0 0 80px 80px rgba(255,230,200,.5);
        }
        100% {
            box-shadow:0 0 80px 80px rgba(255,230,200,0);
        }
    }
    @-o-keyframes flash{
        0%   {
            box-shadow:0 0 80px 80px rgba(255,230,200,0);
        }
        50%  {
            box-shadow:0 0 80px 80px rgba(255,230,200,.5);
        }
        100% {
            box-shadow:0 0 80px 80px rgba(255,230,200,0);
        }
    }
}

footer{
    position:fixed;bottom:10px;left:0;z-index:3;
    width:100%;height:36px;
    text-align:center;

}
footer a{
    display:inline-block;
    width:100px;height:34px;
    border:1px solid #333;border-radius:36px;
    font-size:16px;line-height:34px;
    color:#333;
    background: #fff;
    font-weight: bold;
}




.popup{
    display:none;
    position:fixed;top:0;left:0;z-index:10015;
    width:100%;height:100%;
    background:rgba(0,0,0,.5);
}
.popup .cont{
    position:fixed;top:50%;left:0;z-index:10016;
    width:90%;
    margin:0 5%;padding:30px 0 0;
    border-radius:5px;
    text-align:center;font-size:16px;
    background:#fff;color:#333;
    box-shadow:0 0 10px 0 rgba(0,0,0,.2);
}
.popup .cont input{
    display:block;
    width:80%;height:30px;
    padding:0 5px;margin:10px auto;
    border:1px solid #ddd;border-radius:3px;
    font-size:14px;line-height:30px;font-family:Arial,"黑体";text-align:center;
    color:#333;background:#fff;
}
.popup .cont span{
    color:#f29f00;font-size:18px;
}
.popup .cont p{
    width:90%;
    margin:0 auto;
}
.popup .cont em{
    margin-left:5px;
    color:#f29f00;
}
.popup .cont>img{
    display:block;
    width:100px;height:100px;
    margin:0 auto;
    border-radius:5px;
    background:#fff;
    box-shadow:0 0 0 5px rgba(59,157,135,.25);
}
.popup .close{
    position:absolute;right:0;top:0;z-index:7;
    border-radius:0 5px 0 50px;
    height:20px;width:30px;
    padding:8px 5px 17px 10px;
    line-height:20px;text-align:right;font-size:12px;
    background:#f29f00;color:#fff;
}
.popup .gift{
    width:120px;height:120px;overflow:hidden;
    border-radius:5px;
    margin:0 auto;
    background:#eee;
}
.popup .gift img{
    display:block;
    width:120px;height:120px;overflow:hidden;
    border-radius:5px;
}
.popup .btns{
    padding:15px 0;
    border-radius:0 0 5px 5px;
    text-align:center;
}
.popup .btns a{
    display:inline-block;
    min-width:50px;height:34px;
    padding:0 15px;margin:0 8px;
    border-radius:5px;border:1px solid #fff;
    font-size:16px;text-align:center;line-height:34px;
    color:#fff;background-color:#44b549;
}
.popup .btns img{
    display:inline-block;
    width:100px;height:47px;
    margin:0 5px;
}
.popup section{
    padding:0 15px;
}
.popup section .fl{
    width:110px;
}
.popup section .msgs{
    padding-left:120px;
    text-align:left;
}

#inputMsg .cont{
    margin-top:-91px;
}
#popup .cont{
    margin-top:-65px;
}

.copy_right{
    position:fixed;bottom:15px;left:0;z-index:2;
    width:100%;height:30px;
    text-align:center;font:16px/30px '黑体';
    color:#fff;
}
.copy_right p{
    display:inline-block;
    padding:0 10px;margin:0px;
    border-bottom:1px solid rgba(255,255,255,.3);border-radius:3px;
    background:rgba(0,0,0,.3);color:#fff;
    box-shadow:0 1px 2px rgba(0,0,0,1) inset;
}
.copy_right a{
    margin:0 5px;
    color:#fff;
}
.share_box{
    display:none;
    position:fixed;top:0;left:0;z-index:100000;
    width:100%;height:100%;overflow-y:scroll;
    padding:10px;
    line-height:30px;
    background:rgba(0,0,0,.75);color:#fff;
    box-sizing:border-box;
}
.share_box img{
    float:right;
    height:40px;
}
.share_box .copy_right{
    position:fixed;left:0;bottom:15px;z-index:11;
}














