body {
	background-color: #fff;
}
.ui-header-wx,
.ui-footer-wx {
  background-color: #313F46;
  color: #fff; }
  .ui-header-wx a, .ui-header-wx a:active, .ui-header-wx i,
  .ui-footer-wx a,
  .ui-footer-wx a:active,
  .ui-footer-wx i {
    color: #fff; }
    
.ui-list-icon {
	height: 80px;
	width: 80px;
}
/*layer share*/
#mcover {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.7);
	display: none;
	z-index: 20000;
}

#mcover img {
	position: fixed;
	right: 18px;
	top: 5px;
	width: 260px;
	height: 180px;
	z-index: 20001;
}