
<!--正文导航-->
<!DOCTYPE html>
<html lang="zh-cn">
    <head>
        <meta charset="utf-8">
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
        <meta content="telephone=no" name="format-detection" /> 
        <meta name="google-site-verification" content="DVVM1p1HEm8vE1wVOQ9UjcKP--pNAsg_pleTU5TkFaM">
        <style>
            body > a:first-child,body > a:first-child img{ width: 0px !important; height: 0px !important; overflow: hidden; position: absolute}
            body{padding-bottom: 0 !important;}
        </style>
        <meta id="viewport" name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
        <title>查询成绩</title>
        <link rel="stylesheet" href="../addons/fm_jiaoyu/public/mobile/css/reset.css?{php echo time()}">
        <script src="../addons/fm_jiaoyu/public/mobile/js/jquery.js?{php echo time()}"></script>
</head>
<body>
<div id="wrap" class="teacher_inf">
        <dl id="main">
            <dd class="teacher_inf">
                <div class="teacher">
                    <div style="{if empty($sid['logo'])} background-image:url(../attachment/images/global/avatars/avatar_11.jpg){else}{$sid['logo']}{/if}"></div>
                </div>
                <ul>
                    <li><label>名&nbsp;&nbsp;&nbsp;&nbsp;字：</label>{if !empty($students[$sid['id']])}{$students[$sid['id']]['s_name']}{/if}</li>
                    <li><label>年&nbsp;&nbsp;&nbsp;&nbsp;级：</label>{if !empty($category[$sid['xq_id']])}{$category[$sid['xq_id']]['sname']}{/if}</li>
                    <li><label>班&nbsp;&nbsp;&nbsp;&nbsp;级：</label><span>{if !empty($category[$sid['bj_id']])}{$category[$sid['bj_id']]['sname']}{/if}</span></li>
                </ul>               
                <div style="clear:both"></div>
            </dd>
            <dd class="teacher_count">
                <h3>考试成绩列表</h3>
                   <ul>
				   {loop $list $item}
                           <li class="" href="#">
                                <h4>{if !empty($category[$item['xq_id']])}{$category[$item['xq_id']]['sname']}{/if}</h4>
                                <span>{if !empty($category[$item['bj_id']])}{$category[$item['bj_id']]['sname']}{/if}</span>
                                <span>{if !empty($category[$item['qh_id']])}{$category[$item['qh_id']]['sname']}{/if}</span>	
								<div class="hot">
								    <span>分数</span>
                                    <div style="font-size:12px;">{$item['my_score']}</div>     									
                                    <a href="#"></a>
                                </div>
                           </li>
					{/loop}		
                   </ul>


            </dd>

            <dd class="teacher_introduce">
                <h3>老师点评</h3>
                <article>
                    <header>考试点评</header>
                    <section>暂无</section>
                </article>
            </dd>

        </dl>
    </div>
    <!-- 修改开始 -->
</body>
</html>