{template 'common/header'}
{template 'web/template/navs'}

<div class="panel panel-default">
	<div class="panel-heading">
		帮我买-默认配送价格设置
	</div>
	<div class="panel-body">
		<form action="" method="post" class="form-horizontal" role="form" id="form1" >
			<div class="form-group">
				<div class="col-sm-8 col-lg-9 col-xs-12">
					<div class="input-group">
						<div class="input-group-addon">从</div>
						<input type="text" class="form-control" name="day_start_time" value="{$item['day_start_time']}"/>
						<div class="input-group-addon">点，到</div>
						<input type="text" class="form-control" name="day_end_time" value="{$item['day_end_time']}"/>
						<div class="input-group-addon">默认价</div>
						<input type="text" class="form-control" name="day_start" value="{$item['day_start']}"/>
						<div class="input-group-addon">元，最小</div>
						<input type="text" class="form-control" name="day_min" value="{$item['day_min']}">
						<div class="input-group-addon">元，最大</div>
						<input type="text" class="form-control" name="day_max" value="{$item['day_max']}">
						<div class="input-group-addon">元</div>
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-8 col-lg-9 col-xs-12">
					<div class="input-group">
						<div class="input-group-addon">从</div>
						<input type="text" class="form-control" name="night_start_time" value="{$item['night_start_time']}"/>
						<div class="input-group-addon">点，到</div>
						<input type="text" class="form-control" name="night_end_time" value="{$item['night_end_time']}"/>
						<div class="input-group-addon">默认价</div>
						<input type="text" class="form-control" name="night_start" value="{$item['night_start']}"/>
						<div class="input-group-addon">元，最小</div>
						<input type="text" class="form-control" name="night_min" value="{$item['night_min']}">
						<div class="input-group-addon">元，最大</div>
						<input type="text" class="form-control" name="night_max" value="{$item['night_max']}">
						<div class="input-group-addon">元</div>
					</div>
				</div>
			</div>
			
			<div class="form-group">
				<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label"></label>
				<div class="col-sm-8 col-lg-9 col-xs-12">
					<input type="submit" class="btn btn-default" value="提交">
					<input type="hidden" name="token" value="{$_W['token']}">
				</div>
			</div>
		</form>
	</div>
	<div class="panel-footer">
	
	</div>
</div>
{template 'common/footer'}