<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width initial-scale=1.0 maximum-scale=1.0 user-scalable=yes">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>{$settings['title']}</title>
<link rel="stylesheet" href="{STYLE_PATH}/jquery.fullPage.css">
<link href="{STYLE_PATH}/c.css" rel="stylesheet" type="text/css">

<script src="{STYLE_PATH}/jquery.1.10.2.min.js"></script>
<script src="{STYLE_PATH}/jquery-ui.min.js"></script>
<!--<script src="http://578app.oss-cn-hangzhou.aliyuncs.com/2015xd/jquery-ui-1.10.3.min.js"></script>-->
<script src="{STYLE_PATH}/jquery.fullPage.min.js"></script>
{template 'jssdk'}
  
<body>

</body>
</html>