{template 'common/header'}


<script type="text/javascript" src="resource/js/lib/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="resource/js/lib/jquery-ui-1.10.3.min.js"></script>
<script type="text/javascript" src="../addons/w_bianliqian/public/zclip/jquery.zclip.min.js"></script>
<ul class="nav nav-tabs">
	<li><a href="{php echo $this->createWebUrl('list')}">公众号列表</a></li>
	<li {if $operation == 'detail'}class="active"{/if}><a href="{php echo $this->createWebUrl('list', array('op' => 'detail','id'=>$acc['acid']))}">{$acc['name']}</a></li>
</ul>
{if $operation == 'detail'}
<style type='text/css'>
	.tab-pane {padding:20px 0 20px 0;}
	.btn{margin-top: 10px;}
</style>
<div class="panel panel-info">
	    <div class="panel-body">
            <form action="./index.php" method="get" class="form-horizontal" role="form" id="form1">
                <input type="hidden" name="c" value="site" />
                <input type="hidden" name="a" value="entry" />
                <input type="hidden" name="do" value="list" />
                <input type="hidden" name="m" value="w_bianliqian" />
                <input type="hidden" name='acid' value="{$acc['uniacid']}"/>
                <div class="form-group">
                <button type="submit" name="daochu" value="2" class="btn btn-primary" style="margin-left:55px;" onClick="location.href='{php echo $this->createWebUrl("List")}';">导出  &nbsp;{$acc['name']} Excel</button>
                </div>
            </form>
	    </div>
</div>
<div class="main">
	<form action="" method="post" class="form-horizontal form" enctype="multipart/form-data" id="form1">
		<div class="panel panel-default">
			<div class="panel-heading">
				{$acc['name']}  &nbsp;详细信息
			</div>
			<div class="panel-body">				
				<div class="tab-content">
					<div class="tab-pane  active" id="tab_basic">
						<div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 control-label">专属ID：</label>
							<div class="col-xs-12 col-sm-3 control-label" style="text-align:left;">{$acc['acid']}</div>
							<span class="label label-info js-clip" style="cursor:pointer">复制</span>
						</div>
						<div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 control-label">token：</label>
							<div class="col-xs-12 col-sm-3 control-label" style="text-align:left;">{$acc['token']}</div>
							<span class="label label-info js-clip" style="cursor:pointer">复制</span>
						</div>
						<div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 control-label">微信号：</label>
							<div class="col-xs-12 col-sm-3 control-label" style="text-align:left;">{$acc['account']}</div>
							<span class="label label-info js-clip" style="cursor:pointer">复制</span>
						</div>
						<div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 control-label">原始ID：</label>
							<div class="col-xs-12 col-sm-3 control-label" style="text-align:left;">{$acc['original']}</div>
							<span class="label label-info js-clip" style="cursor:pointer">复制</span>
						</div>
						<div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 control-label">AppID(应用ID)：</label>
							<div class="col-xs-12 col-sm-3 control-label" style="text-align:left;">{$acc['key']}</div>
							<span class="label label-info js-clip" style="cursor:pointer">复制</span>
						</div>
						<div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 control-label">AppSecret(应用密钥)：</label>
							<div class="col-xs-12 col-sm-3 control-label" style="text-align:left;">{$acc['secret']}</div>
							<span class="label label-info js-clip" style="cursor:pointer">复制</span>
						</div>
						<div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 control-label">URL(服务器地址)：</label>
							<div class="col-xs-12 col-sm-3 control-label" style="text-align:left;">{$_W['siteroot']}index.php?id={$acc['acid']}</div>
							<span class="label label-info js-clip" style="cursor:pointer">复制</span>
						</div>
						<div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 control-label">公众号类型（level）：</label>
							<div class="col-xs-12 col-sm-3 control-label" style="text-align:left;">{if $acc['level']==1} 订阅号{elseif $acc['level']==2}服务号{elseif $acc['level']==3}认证订阅号{else}认证服务号{/if}</div>
							<span class="label label-info js-clip" style="cursor:pointer">复制</span>
						</div>
						
					</div>
					
				</div>
			</div>
		</div>		
	</form>
</div>

<script>
  //       $('#span1').zclip({
  //           path: "../addons/w_bianliqian/public/zclip/ZeroClipboard.swf",
  //           copy: function(){
  //               return $('#goodsname').val();
  // 　　　 　　},
  // 			afterCopy: function(){
		// 			alert(3);
		// 		}

  //       });
require(['jquery.zclip'], function(){
		$('.js-clip').each(function(){
			var copy_button = this;
			$(copy_button).zclip({
				path: './resource/components/zclip/ZeroClipboard.swf',
				copy: $(copy_button).prev().text(),
				afterCopy: function(){
					$(copy_button).text('复制成功');
					setTimeout(function(){
						$(copy_button).text('复制');
					}, 2000);
				}
			});
		});
	});
</script>
				


{/if}
{template 'common/footer'}

