{template 'weheader'}
{if $reside}
<script src="{TEMPLATE_WEUI}js/city-picker.min.js"></script>
{/if}

<style>
body{background-color:#fbf9ff;}
.dayu-header {padding: 25px 0 0;}

.weui_textarea_counter span {font-size:12px;}
.weui_label{font-size:13px;}
.weui_label span, .weui_cell_hd span{color: #E64340;}
.weui_input, .weui_select{font-weight:300;padding-left: 15px;}

.weui-popup-container{z-index:9999;}
.weui_cell_select .weui_cell_td {padding-left: 1em;}
.weui_cell_select .weui_cell_hd .weui_select {line-height:45px;padding:0 25px 0 5px;color: #555;}

.weui_msg .weui_extra_area {margin-bottom: 5px;}
.weui_extra_area {z-index:0;}
.record .weui_cells:first-child {margin-top:30px;}
.record .weui_cells {margin:0;}
.record img{width:1.2rem;height:1.2rem;}
.weui_cells_form .weui_cell_ft {font-size: 12px;}

.weui_tab_bd {padding-bottom: 15px;}
.weui_select{z-index:0;}
.weui_grid{width:50%;padding: 10px 10px;}
.weui_grid:after{height: 0px;border-bottom:0;}
</style>
	<div class="weui_tab_bd">
	{if $activity['isthumb']==0}
		<div class="weui-header bg-blue"> 
			<div class="weui-header-left"> <a class="iconfont f-white" href="javascript:history.go(-1)">&#xe60c;</a>  </div>
			<h1 class="weui-header-title f16">{$activity['subtitle']}</h1>
			<div class="weui-header-right"><a class="iconfont f-white" href="{php echo $this->createMobileUrl('Mydayu_yuyuepay', array('weid' => $_W['uniacid'], 'id' => $reid))}">&#xe622;</a></div> 
		</div>
	{elseif $activity['isthumb']==1}
	<div class="m-box">
		<div class="m-img" style="background-image:url({$activity['thumb']});"></div>
		<div class="m-masker"> 
				<a href="javascript:;" data-target="#popup" class="open-popup">
			<div class="weui_media_box weui_media_text" style="position: absolute;bottom:10px;width:90%;">
				<h1 class="weui_media_title tcenter f-white f20">{$activity['title']}</h1>
		{if $activity['description']}
				<p class="weui_media_desc indent f-gray m-time">{$activity['description']}</p>
				<p class="weui_media_info f-gray tright"><i class="iconfont f11">&#xe61f;</i> 详情 >></p>
		{/if}
			</div>
				</a>
		</div> 
	</div>
	{elseif $activity['isthumb']==2}	
	<header class="dayu-header">
		<a href="javascript:;" data-target="#popup" class="open-popup">
			<div class="weui_media_box weui_media_text">
				<h1 class="weui_media_title tcenter f-green f25">{$activity['title']}</h1>
		{if $activity['description']}
				<p class="weui_media_desc indent">{$activity['description']}</p>
				<p class="weui_media_info f-black tright"><i class="iconfont f11">&#xe61f;</i> 详情 >></p>
		{/if}
			</div>
		</a>
	</header>
	{/if}
	<div id="popup" class="weui-popup-container">
		<div class="weui-popup-modal">
			<section>
				<h3>{$activity['title']}</h3>
				<div class="weui-popup-bd">{php echo htmlspecialchars_decode($activity['content'])}</div>
			</section>
			<p class='p'><a href="javascript:;" class="weui_btn bg-blue close-popup">关闭</a></p>
		</div>
	</div>

<!--	<form method="post" action="{php echo $this->createMobileUrl('index')}"  enctype="multipart/form-data" >	-->
<form action="{php echo $this->createMobileUrl('dayu_yuyuepay', array('weid' => $_W['uniacid'], 'id' => $reid))}" class="" enctype="multipart/form-data" method="POST" id="form">
<input type="hidden" name="repeat" value="<?php echo md5(sha1(time())); ?>">
	{if $activity['is_addr']==1}
       <div id="address_{$address['id']}" class="weui_panel weui_panel_access" onclick="changeAddress()" {if $activity['isthumb']==0}style="margin:0;"{/if}>
            <div class="weui_panel_bd">
                <div class="weui_media_box weui_media_appmsg weui_panel_ft">
                    <div class="weui_media_hd">
                        <img class="weui_media_appmsg_thumb" src="{if !empty($fans['tag']['avatar'])}{$fans['tag']['avatar']}{else}resource/images/noavatar_middle.gif{/if}" alt="">
                    </div>
			{if !empty($address)}
                    <div class="weui_media_bd">
                        <h4 class="weui_media_title">{$address['username']}<span class="f14" style="margin-left:10px;">{$address['mobile']}</span></h4>
                        <p class="weui_media_desc">{$address['province']} {$address['city']} {$address['district']} {$address['address']}</p>
                    </div>
			{else}
            <div class="weui_media_bd">添加联系方式</div>
			{/if}
                </div>
            </div>
        </div>  
	{elseif $activity['is_addr']==0}
       <div class="weui_panel weui_panel_access" onclick="changeInfo()" style="margin:0;">
            <div class="weui_panel_bd">
                <div class="weui_media_box weui_media_appmsg weui_panel_ft">
                    <div class="weui_media_hd">
                        <img class="weui_media_appmsg_thumb" src="{if !empty($member['avatar'])}{$member['avatar']}{else}{$fans['tag']['avatar']}{/if}" alt="">
                    </div>
			{if $member['realname'] && $member['mobile']}
                    <div class="weui_media_bd">
						<input id="member" name="member" type="hidden" value="{$member['realname']}">
						<input id="mobile" name="mobile" type="hidden" value="{$member['mobile']}">
                        <h4 class="weui_media_title f-black">{$member['realname']}</h4>
                        <p class="weui_media_desc f16 f-black">{$member['mobile']}</p>
                    </div>
			{else}
            <div class="weui_media_bd">完善我的资料</div>
			{/if}
                </div>
            </div>
        </div>
	{/if}
<div class="weui_cells weui_cells_access">

		<div class="weui_cell weui_cell_select weui_select_after">
			<div class="weui_cell_hd"><label class="weui_label">{$activity['xmname']}<span>*</span></label></div>
			<div class="weui_cell_bd weui_cell_primary">
				<select class="weui_select" name="xmid" id="xmid" onchange="fetchgetjs(this)">
					<option value="" label="请选择{$activity['xmname']}"></option>
				{loop $xms $xm}
					<option value="{$xm['id']}" label="{$xm['title']}">{$xm['title']}</option>
				{/loop}
				</select>
			</div>
		</div>

			{if empty($activity['is_num'])}
		<div class="weui_cell" id="grids" style="display:none;">
			<div id="prices"></div>
			<div id="price"></div>
		</div>
			{/if}
					{if $activity['pay'] == 1}
		<div class="weui_cell weui_cell_select weui_select_after">
			<div class="weui_cell_hd"><label class="weui_label">支付方式<span>*</span></label></div>
			<div class="weui_cell_bd weui_cell_primary">
				<select class="weui_select" name="paytype">
					<option value="1" label="在线支付">在线支付</option>
					<option value="9" label="线下付款">线下付款</option>
				</select>
			</div>
		</div>
		{else}
		<input class="weui_input" name="paytype" type="hidden" value="1">
					{/if}
		{if !empty($activity['is_num'])}
		<div class="weui_cell">
			<div class="weui_cell_hd"><label class="weui_label">{$activity['numname']}<span class="f-red">*</span></label></div>
			<div class="weui_cell_bd weui_cell_primary tright" style="padding-right:10px">
			{if !empty($activity['is_num'])}
			<span class="iconfont f14 f-orange" name="jsids" id="jsids"></span>
			{else}
			<span name="jsid" id="jsid"></span>
			{/if}
			</div>
			<div class="weui_cell_ft">
				<a class="number-selector number-selector-sub needsclick">-</a>
				<input pattern="[0-9]*" class="number-input" name="num" style="width: 60px;" value='1' data-min="1" data-max="500" data-step="1">
				<a class="number-selector number-selector-plus needsclick">+</a>
			</div>
			<div class="weui_cell_ft" style="display: none;"> 0 </div>
		</div>
		
<script>
</script>
<script>
    $(function(){
        $('<audio id="chatAudio"><source src="http://www.helloweba.com/demo/notifysound/notify.ogg" type="audio/ogg"><source src="notify.mp3" type="http://www.helloweba.com/demo/notifysound/audio/mpeg"><source src="notify.wav" type="http://www.helloweba.com/demo/notifysound/audio/wav"></audio>').appendTo('body');//载入声音文件
        $(".needsclick").click(function(){
            $("#chatAudio")[0].play();
        });
    });
		$('.number-selector-plus').click(function(){
			upDownOperation( $(this) );
		});
		$('.number-selector-sub').click(function(){
			upDownOperation( $(this) );
		});
		function upDownOperation(element)
		{
//	$.getJSON('{php echo $this->createMobileUrl('getprice')}', {'xmid' : $(obj).val()}, function(s){
			var _input = element.parent().find('input'),
            _value = _input.val(),
            _step = _input.attr('data-step') || 1;    //检测当前操作的元素是否有disabled，有则去除
			element.hasClass('disabled') && element.removeClass('disabled');	//检测当前操作的元素是否是操作的添加按钮（.input-num-up）‘是’ 则为加操作，‘否’ 则为减操作
			
			if ( element.hasClass('number-selector-plus') )
			{
				var _new_value = parseInt( parseFloat(_value) + parseFloat(_step) ),
                _max = _input.attr('data-max') || false,
                _down = element.parent().find('.number-selector-sub');	//若执行‘加’操作且‘减’按钮存在class='disabled'的话，则移除‘减’操作按钮的class 'disabled'
				_down.hasClass('disabled') && _down.removeClass('disabled');
				if (_max && _new_value >= _max) {
					_new_value = _max;
					element.addClass('disabled');
				}
			} else {
				var _new_value = parseInt( parseFloat(_value) - parseFloat(_step) ),
					_min = _input.attr('data-min') || false,
					_up = element.parent().find('.number-selector-plus');	//若执行‘减’操作且‘加’按钮存在class='disabled'的话，则移除‘加’操作按钮的class 'disabled'
					_up.hasClass('disabled') && _up.removeClass('disabled');
            if (_min && _new_value <= _min) {
                _new_value = _min;
                element.addClass('disabled');
            }
		}
			_input.val( _new_value );
//	});
		}
</script>
		{/if}
	{if $activity['is_time']==0}
		<div class="weui_cell">
			<div class="weui_cell_hd"><label for="" class="weui_label">{$activity['yuyuename']}<span>*</span></label></div>
			<div class="weui_cell_bd weui_cell_primary">
				<input class="weui_input" type="text" name="yuyuetime" value="" placeholder="点击选择{$activity['yuyuename']}" id="restime" />
			</div>
			<div class="weui_cell_ft"></div>
		</div>
    <script>
      $("#restime").datetimePicker();
    </script>
	{elseif $activity['is_time']==2}
    <a class="weui_cell" href="{php echo $this->createMobileUrl('timelist',array('id' => $reid, 'datetime' => $datetime))}">
        <div class="weui_cell_hd"><label class="weui_label">{$activity['yuyuename']}<span>*</span></label></div>
        <div class="weui_cell_bd weui_cell_primary">
            <input class="weui_input f-black f16 tleft" name="restime" id="restime" type="text" value="{$srvtime}" readonly>
        </div>
		<div class="weui_cell_ft f-green f12">重选</div>
    </a>
	{/if}	
</div>

<div class="weui_cells weui_cells_access">
				{loop $ds $fields}
				
		{if $fields['type'] == 'text'}
	<div class="weui_cell">
		<div class="weui_cell_hd"><label class="weui_label">{$fields['title']}{if $fields['essential']}<span>*</span>{/if}</label></div>
		<div class="weui_cell_bd weui_cell_primary">
		{if $fields['bind'] == 'birth'}
			<input class="weui_input" name="field_{$fields['refid']}_{$fields['bind']}" type="text" value="{$profile['birthyear']}-{$profile['birthmonth']}-{$profile['birthday']}" placeholder="{$fields['tixing']}" {if $fields['essential']}required{/if}>
		{else}
			<input class="weui_input" name="field_{$fields['refid']}_{$fields['bind']}" type="text" value="{$fields['default']}" placeholder="{$fields['tixing']}" {if $fields['essential']}required{/if}>
		{/if}
		</div>
	</div>
		{/if}
		
		{if $fields['type'] == 'email'}
	<div class="weui_cell">
		<div class="weui_cell_hd"><label class="weui_label">{$fields['title']}{if $fields['essential']}<span>*</span>{/if}</label></div>
		<div class="weui_cell_bd weui_cell_primary">
			<input class="weui_input" type="text" name="field_{$fields['refid']}_{$fields['bind']}" value="{$fields['default']}" placeholder="{$fields['tixing']}" {if $fields['essential']}required{/if}>
		</div>
	</div>
		{/if}
				
		{if $fields['type'] == 'number'}
	<div class="weui_cell">
		<div class="weui_cell_hd"><label class="weui_label">{$fields['title']}{if $fields['essential']}<span>*</span>{/if}</label></div>
		<div class="weui_cell_bd weui_cell_primary">
			<input class="weui_input" type="number" name="field_{$fields['refid']}_{$fields['bind']}" value="{$fields['default']}" pattern="[0-9]*" placeholder="{$fields['tixing']}">
		</div>
	</div>
		{/if}
				
		{if $fields['type'] == 'textarea'}
        <div class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
			<textarea class="weui_textarea" name="field_{$fields['refid']}_{$fields['bind']}" rows="3" placeholder="{$fields['tixing']}">{$fields['default']}</textarea>
                <div class="weui_textarea_counter"><span id='textarea_num'>{$fields['tixing']} 限200字</span></div>
            </div>
        </div>
          <script>
$(function(){
	$(".weui_textarea").on("input paste" , function(){
				var num_left=$(this).val().length;
				if((200-num_left)<0){
					$("#textarea_num").text("超出"+(num_left-200)+"字");
					$("#textarea_num").css("color","#E44443");
				}else{
					$("#textarea_num").text((num_left)+"字");
					$("#textarea_num").css("color","#999999");
				}
			});

})
</script> 
		{/if}
				
		{if $fields['type'] == 'radio'}
		<div class="weui_cell">
			<div class="weui_cell_hd"><label for="name" class="weui_label">{$fields['title']}{if $fields['essential']}<span>*</span>{/if}</label></div>
				<div class="weui_cell_bd weui_cell_primary">
					<input type="text" class="weui_input" id="{$fields['refid']}" name="field_{$fields['refid']}_{$fields['bind']}" placeholder="{$fields['tixing']}" value="">
				</div>
				<div class="weui_cell_ft"></div>
		</div>
    <script>
      $("#{$fields['refid']}").select({
        title: "{$fields['title']}",
        items: [
		{loop $fields['options'] $v}
		"{$v}",
		{/loop}
        ],
        onChange: function(d) {
		console.log(this, d);
        }
      });
    </script>
		{/if}
				
		{if $fields['type'] == 'checkbox'}
		<div class="weui_cell">
			<div class="weui_cell_hd"><label for="name" class="weui_label">{$fields['title']}{if $fields['essential']}<span>*</span>{/if}</label></div>
				<div class="weui_cell_bd weui_cell_primary">
					<input type="text" class="weui_input" id="{$fields['refid']}" name="field_{$fields['refid']}_{$fields['bind']}" placeholder="{$fields['tixing']}" value="">
				</div>
		</div>
    <script>
      $("#{$fields['refid']}").select({
        title: "{$fields['title']}",
        multi: true,
        items: [
		{loop $fields['options'] $v}
			{
				title: "{$v}",
				value: "{$v}"
			},
		{/loop}
        ],
        onChange: function(d) {
		console.log(this, d);
        }
      });
    </script>
		{/if}
						
		{if $fields['type'] == 'select'}
		<div class="weui_cell weui_cell_select weui_select_after">
			<div class="weui_cell_hd"><label class="weui_label">{$fields['title']}{if $fields['essential']}<span>*</span>{/if}<div class="right">{$fields['tixing']}</div></label></div>
			<div class="weui_cell_bd weui_cell_primary">
				<select class="weui_select" name="field_{$fields['refid']}_{$fields['bind']}">
				{loop $fields['options'] $v}
					<option value="{$v}" {if $v == $fields['default']} selected="selected"{/if}>{$v}</option>
				{/loop}
				</select>
			</div>
		</div>
		{/if}

		{if $fields['type'] == 'image'}
</div>

    <div class="weui_cells weui_cells_form">
        <div class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
                <div class="weui_uploader">
                    <div class="weui_uploader_hd weui_cell">
                        <div class="weui_cell_bd weui_cell_primary">{$fields['title']}{if $fields['essential']}<span class="f-red">*</span>{/if}</div>
                        <div class="weui_cell_ft">{$fields['tixing']}</div>
                    </div>
                    <div class="weui_uploader_bd">
                        <ul class="weui_uploader_files">   
                            <input type="hidden" name="field_{$fields['refid']}_{$fields['bind']}" accept="image/*" capture="camera" value="" />
                            <image class="weui_uploader_file weui_uploader_status" id="show{$fields['refid']}" src="{php echo tomedia($fields['image'])}" />
                        </ul>
                        <div class="weui_uploader_input_wrp" id="{$fields['refid']}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script>
          var btn = document.getElementById('{$fields['refid']}');
          //定义images用来保存选择的本地图片ID，和上传后的服务器图片ID
          var images = {
              localId: [],
              serverId: []
          };
          btn.onclick = function(){
              wx.chooseImage({
					count: 1,
					sourceType: ['album', 'camera'],
                   success:function(res){

                        images.localId = res.localIds;
                        var i = 0, length = images.localId.length;

                        document.getElementById('show{$fields['refid']}').src = images.localId;
					var wxUpload = function() {
                        wx.uploadImage({
                            localId: images.localId[i], // 需要上传的图片的本地ID，由chooseImage接口获得
                            isShowProgressTips: 1, // 默认为1，显示进度提示
                            success: function (res) {
                                //将上传成功后的serverId保存到serverid
                                images.serverId.push(res.serverId);
                                //(serverId 即 media_id,公众号此后可根据该media_id来获取多媒体)将上传的图片通过AJAX远程提交给php下载到本地服务器
                                $.get("{php echo $this->createMobileUrl('upload', array('id' => $reid))}", { media_id: res.serverId, time: "2pm" },
                                function(data){
                                    $('input[name="field_{$fields['refid']}_{$fields['bind']}"]').val(data);
                                });                 

                                i++;
                                if(i < length){
                                    wxUpload();
                                }
                            },
							fail: function (res) {
								alert(JSON.stringify(res));
							}
                        });
						
					};
					wxUpload();

                   }
              });
  
          }
</script>
<div class="weui_cells weui_cells_form">
		{/if}
		
		{if $fields['type'] == 'calendar'}
		<div class="weui_cell">
			<div class="weui_cell_hd"><label for="" class="weui_label">{$fields['title']}{if $fields['essential']}<span>*</span>{/if}</label></div>
				<div class="weui_cell_bd weui_cell_primary">
				{if $fields['bind'] == 'birth'}
					<input class="weui_input" name="field_{$fields['refid']}_{$fields['bind']}" type="text" value="{$profile['birthyear']}-{$profile['birthmonth']}-{$profile['birthday']}" placeholder="{$fields['tixing']}" id="{$fields['refid']}">
<script>
      $("#{$fields['refid']}").calendar({
        value: ['{$profile['birthyear']}-{$profile['birthmonth']}-{$profile['birthday']}']
      });
</script>
				{else}
					<input class="weui_input" name="field_{$fields['refid']}_{$fields['bind']}" type="text" value="" placeholder="{$fields['tixing']}" id="{$fields['refid']}">
<script>
      $("#{$fields['refid']}").calendar({
        value: ['{$time}']
      });
</script>
				{/if}
				</div>
		</div>
		{/if}
		
		{if $fields['type'] == 'range'}
		<div class="weui_cell">
			<div class="weui_cell_hd"><label for="" class="weui_label">{$fields['title']}{if $fields['essential']}<span>*</span>{/if}</label></div>
				<div class="weui_cell_bd weui_cell_primary">
					<input class="weui_input" type="text" name="field_{$fields['refid']}_{$fields['bind']}" value="" placeholder="{$fields['tixing']}" id="{$fields['refid']}" />
				</div>              
		</div>
    <script>
      $("#{$fields['refid']}").datetimePicker();
    </script>
		{/if}
		
		{if $fields['type'] == 'reside'}
		<div class="weui_cell">
			<div class="weui_cell_hd"><label for="" class="weui_label">{$fields['title']}{if $fields['essential']}<span>*</span>{/if}</label></div>
				<div class="weui_cell_bd weui_cell_primary">
					<input class="weui_input" type="text" name="field_{$fields['refid']}_{$fields['bind']}" value="" placeholder="{$fields['tixing']}" id="{$fields['refid']}"/>
				</div>
		</div>
    <script>
	$("#{$fields['refid']}").cityPicker({
		title: "{$fields['title']}"
	});
    </script>
		{/if}
		
				{/loop}
</div>
	
    <div class="weui_btn_area">
		<input type="hidden" name="token" value="{$_W['token']}" />
        <button class="weui_btn weui_btn_primary" name="submit" type="submit" id="showTool">立 即 提 交</button>
    </div>
</form>
</div>
<script type="text/javascript">
    function changeAddress(){
        location.href = '{php echo $this->createMobileUrl('address', array('from'=>'dayu_yuyuepay','returnurl' => $returnUrl))}'
    }
    function changeInfo(){
        location.href = '{php echo $this->createMobileUrl('info', array('from'=>'dayu_yuyuepay','returnurl' => $returnUrl))}'
    }
	$('#form').submit(function(){
			if($.trim($('#xmid').val())==''){
				$.toast('请选择{$activity['xmname']}', "cancel");
				return false;
			}
	{if $activity['is_time']==2}
			if($.trim($('#restime').val())==''){
				$.toast('请选择{$activity['yuyuename']}', "cancel");
				return false;
			}
	{/if}
		{loop $ds $fields}
		{if $fields['essential']}
		{if in_array($fields['type'], array('text', 'calendar', 'email'))}
		if($.trim($(':text[name="field_{$fields['refid']}_{$fields['bind']}"]').val()) == '') {
			$.toast("{$fields['title']} 不能为空", "cancel");
			return false;
		}
		{/if}
		{if in_array($fields['type'], array('image'))}
		if($.trim($(':input[name="field_{$fields['refid']}_{$fields['bind']}"]').val()) == '') {
			$.toast("{$fields['title']} 必须上传", "cancel");
			return false;
		}
		{/if}
		{if in_array($fields['type'], array('textarea'))}
		if($.trim($('textarea[name="field_{$fields['refid']}_{$fields['bind']}"]').val()) == '') {
			$.toast("{$fields['title']} 必须填写", "cancel");
			return false;
		}
		{/if}
		{if in_array($fields['type'], array('checkbox'))}		
		if($(':checkbox[name="field_{$fields['refid']}_{$fields['bind']}[]"]:checked').length == 0) {
			$.toast("{$fields['title']} 必须选择", "cancel");
			return false;
		}
		{/if}
		{if in_array($fields['type'], array('number'))}
		var num = parseFloat($.trim($(':input[name="field_{$fields['refid']}_{$fields['bind']}"]').val()));
		if(isNaN(num)) {
			$.toast('{$fields['title']} 必须输入数字.');
			return false;
		}
		{/if}
		{if in_array($fields['type'], array('email'))}
		var mail = $.trim($(':text[name="field_{$fields['refid']}_{$fields['bind']}"]').val());
		if(!(/^\w+((-\w+)|(\.\w+))*\@[A-Za-z0-9]+((\.|-)[A-Za-z0-9]+)*\.[A-Za-z0-9]+$/i).test(mail)) {
			$.toast("{$fields['title']} 请正确邮箱地址", "cancel");
			return false;
		}
		{/if}
		{/if}
		{/loop}	
		return true;
	});
		
	function fetchgetjs(obj) {
		if (!$(obj).val()) {
			return false;
		}
		$.getJSON('{php echo $this->createMobileUrl('getprice')}', {'xmid' : $(obj).val()}, function(s){
			if (s.message.status == 0) {
				alert(s.message.price, '', '无法获取价格');
				return;
			}
			$('#grids').show();
			$('#rmb').empty();
			$('#jsids').empty();
			$('#price').empty();
			$('#prices').empty();
			if (s.message.price) {
				for (i in s.message.price) {
					$('#rmb').append(s.message.price[i].price);
					$('#jsids').append('&#xe61a; '+s.message.price[i].price+' ×');
					if(s.message.price[i].type==1){
					$('#prices').append('<div class="weui_cell_hd f12">订单金额<i class="iconfont" style="font-size:8px;">&#xe61a;</i> <span class="f14 f-black">'+s.message.price[i].prices+'</span></div>');
					$("#price").addClass("weui_cell_bd weui_cell_primary");
					$('#price').append('<div class="tright f-orange f12" style="padding-right:10px">需付定金<i class="iconfont f-orange" style="font-size:8px;">&#xe61a;</i> <span class="f16" id="price">'+s.message.price[i].price+'</span></div>');
					}else{
					$('#price').append('<div class="weui_cell_bd weui_cell_primary f-orange f12" style="padding-right:10px">支付金额：<i class="iconfont f-orange" style="font-size:8px;">&#xe61a;</i> <span class="f16" id="price">'+s.message.price[i].price+'</span></div>');
					}
				}
			}
		});
	}
</script>
{php $footer_off = 1;}
{template 'footers'}