{template 'header'}
<!-- container -->
<div class="ui-container">
	<div class="ui-form ui-border-t">
			<div class="ui-form-item ui-border-b">
				<label>
				昵称
				</label>
				<input type="text" placeholder="昵称" id='nickname' value="{$userinfo['nickname']}">
				<a href="#" class="ui-icon-close">
				</a>
			</div>
			<div class="ui-form-item ui-form-item-textarea ui-border-b">
				<label>
				签名
				</label>
				<textarea placeholder="个人签名" id='sign'>{$userinfo['sign']}</textarea>
			</div>
			<div class="ui-form-item ui-border-b">
				<label>
				年龄
				</label>
				<input type="text" placeholder="" id='age' value="{$userinfo['age']}">
				<a href="#" class="ui-icon-close">
				</a>
			</div>
			<div class="ui-form-item ui-border-b">
				<label>
				性别
				</label>
				<input type="text" placeholder="" id='sex' value="{if $userinfo['sex'] == '1'}男{else}女{/if}" readonly="readonly" onclick="choose_user_sex()">
				<a href="#" class="ui-icon-close">
				</a>
			</div>
			<div class="ui-form-item ui-form-item-textarea ui-border-b">
				<label>
				查看
				</label>
				<input type="text" id="user_sex" placeholder="" value="{if $userinfo['choose_sex'] == '1'}男生{else}女生{/if}" onclick="choose_sex()" readonly="readonly">'
			</div>
			<div class="ui-btn-wrap">
			    <button class="ui-btn-lg ui-btn-primary" onclick='save()'>
			        保存信息
			    </button>
			</div>
	</div>
	<div class="ui-actionsheet" id="sex_list">  
		<div class="ui-actionsheet-cnt">
			<h4>选择性别</h4> 
			<button onclick='select_sex(this)'>男生</button>  
			<button onclick='select_sex(this)'>女生</button>  
			<button onclick="$('.ui-actionsheet').removeClass('show')">取消</button> 
		</div>
	</div>
	<!-- user sex -->
	<div class="ui-actionsheet" id="user_sex_list">  
		<div class="ui-actionsheet-cnt">
			<h4>选择性别</h4> 
			<button onclick='select_user_sex(this)'>男</button>  
			<button onclick='select_user_sex(this)'>女</button>  
			<button onclick="$('#user_sex_list').removeClass('show')">取消</button> 
		</div>
	</div>
	<script type="text/javascript">
	function choose_sex()
	{
		$('#sex_list').addClass('show');
	}
	function select_sex(obj,val) {
		var sex = $(obj).html();
		$("#user_sex").val(sex);
		$('#sex_list').removeClass('show');
	}
	//  self
	function choose_user_sex()
	{
		$('#user_sex_list').addClass('show');
	}
	function select_user_sex(obj,val) {
		var sex = $(obj).html();
		$("#sex").val(sex);
		$('#user_sex_list').removeClass('show');
	}
	function save() {
		var nickname  = $("#nickname").val();
		var sign  = $("#sign").val();
		var age  = $("#age").val();
		var sex  = $("#sex").val();
		var choose_sex  = $("#user_sex").val();

		if(sex == '' || nickname=='' || choose_sex == '' || age == '')
		{
			alert("资料不能为空");
			return;
		}
		$.ajax({
			type:'post',
			url:"{php echo $this->createMobileUrl('userupdate')}",
			data:{nickname:nickname,usersign:sign,age:age,sex:sex,choose_sex:choose_sex,sunshine_openid_nocookie:"{php echo $sunshine_openid_nocookie}"},
			success:function(d) {
				if(d.res == '100') {
					alert("保存成功");
					window.location.href='';
				}else {
					alert(d.msg);
				}
			}
		})
	}
	</script>
	<div class="ui-footer ui-footer-stable ui-btn-group ui-border-t">
		<button class="ui-btn-lg" onclick="window.location.href='{php echo $this->createMobileUrl('list',array('sunshine_openid_nocookie'=>$sunshine_openid_nocookie))}'">
		返回继续约！
	    </button>
	</div>
</div>
{template 'footer'}